#loginSignUp {
	height: 30%;
	margin-top: 20%;
	margin-left: 13%;
	width: 400px;
}

.FormDiv {
	padding-left: 10px;
	width: 400px;
}

h1 {
	width: 100%;
	color: white;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0, 153, 255, 0.5);
	box-shadow: -1px 4px 28px 0px rgba(0, 153, 255, 0.6);
}

h4 {
	display: inline;
}

.inputs {
	margin-top: 10px;
}

input, button {
	border-color: black;
	border-width: thin;
	font-size: 20px;
	width: 350px;
	height: 35px;
	font-size: 25px;
	font-size: 20px;
}

label {
	font-size: 18px;
	font-family: cursive;
	text-transform: uppercase;
}

button {
	width: 60% !important;
	margin-bottom: 10px;
}

input:hover {
	box-shadow: -1px 4px 28px 0px rgba(100, 100, 250, 0.8);
}

button:hover {
	transition: 0.5s;
	transform: matrix3d(-moz-background-size);
	background-color: rgba(65, 250, 48, 0.5);
	font-size: 24px;
	box-shadow: -1px 4px 28px 0px rgba(65, 250, 48, 0.9);
}

#loginSignUp button, input {
	background-color: rgba(255, 255, 255, 0.04);
}

#loginSignUp, input:hover, .topnav a:hover {
	box-shadow: -1px 4px 28px 0px rgba(0, 153, 255, 0.6);
}