@charset "ISO-8859-1";

html {
	overflow: hidden;
	width: 100%;
	height: inherit;
	background: rgb(3, 155, 195);
	background: linear-gradient(90deg, rgba(3, 155, 195, 0.7539390756302521)
		0%, rgba(0, 181, 255, 1) 100%);
	width: 100%;
	width: 100%;
}

div.scrollinside {
	padding-bottom: 1000px;
	height: 600px;
	overflow-x: scroll;
}

.ups {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
}

.bottoms {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 99%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not (.active ){
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}